body{
    background-image: url('midia/mk3-stage-temple.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*estrutura*/
.towerContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/*colunas*/
.towerRodZero {
    height: 300px;
    width: 33%;
    background-color: rgba(226, 226, 226, 0.521);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0px;
}
.towerRodOne {
    height: 300px;
    width: 33%;
    background-color: rgba(226, 226, 226, 0.521);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0px;
}
.towerRodTwo {
    height: 300px;
    width: 33%;
    background-color: rgba(226, 226, 226, 0.521);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0px;
}

/*linhas*/
li{
    list-style: none;
    margin: 10px;
}
.liZero{
    width: 90%; 
    height: 30px;
    background-color: aqua;
}
.liOne{
    width: 70%; 
    height: 30px;
    background-color: rgb(0, 255, 42);
}
.liTwo{
    width: 50%; 
    height: 30px;
    background-color: rgb(111, 0, 255);
}
.liThree{
    width: 30%; 
    height: 30px;
    background-color: rgb(255, 0, 0);
}
.liFive{
    width: 10%; 
    height: 30px;
    background-color: rgb(229, 255, 0);
}
/*button*/
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonCase{
    width: 33%;
    display: flex;
    justify-content: space-around;
}

/*footer*/
.footer{
    display: flex;
    justify-content: space-between;
    display: none;
}
.scorpion,.sub-zero{
    height: 300px;   
}
.sub-zero{
    transform: rotateY(180deg);
}
/*header*/
header{
    display: flex;
    justify-content: space-around;
    height: 5vw;
}
header{
    color: white;
}
